* {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
}

body {
    background: #A1FFCE;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 55px;
    padding: 25px 40px 25px 30px;
    border-radius: 17px;
    background-color: #ffffff;
     font-family: 'poppins', 'verdana';
         width: 414px;

}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.input-btn {
    padding: 10px 9px 10px 16px;
    border-radius: 20px;
    border: none;
    border: 1px solid #8a8484;
    width: 300px;
    font-size: 16px;
    margin-bottom: 12px;
}

#username-Inp {
    background-color: #f3f2f2;

}

#username-Inp:focus {
    outline: none;
}

#findBtn {
    width: 320px;
    background-color: rgb(178 178 178);

}

#findBtn:hover {
    cursor: pointer;
    background-color: rgb(165, 165, 165);

}

span{
    display: none;
    color: red;
}
#error{
    transform: translate(-56px, -18px);
    text-align: right;
}
#profile{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 40px;
    padding: 25px 20px 2px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 397px;
    border: 1px solid #b3b3b3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 110px;
    height: 110px;
    border-radius: 60px;
    box-sizing: contain;
}
#followers-following{
    display: flex;
    justify-content: space-between;
}
#name, #bio, #followers, #following, #repos, #url{
    background-color: rgb(206 206 206);
    border-radius: 6px;
margin-bottom: 16px;
line-height: 40px;
text-align: left;
    padding: 10px;

}

#followers, #following{
    padding-right: 87px;
}
h4{
    line-height: 24px;
    font-weight: 600;
}
a{
    color: #1f6feb;
}


@media(max-width: 425px){
#div1{
             width: 253px;

}
h2{
    font-size: 35px;
            text-align: left;

}
.input-btn {
    padding: 10px 9px 10px 16px;
    width: 235px;
    font-size: 14px;
    margin-bottom: 12px;
}
#findBtn{
     width: 263px;
    font-size: 14px;
}
#error {
    transform: translate(-3px, -20px);
    text-align: center;
}
#profile{
    
    line-height: 40px;
    padding: 25px 20px 2px 20px;
    width: 293px;
}
#name, #bio, #followers, #following, #repos, #url{
margin-bottom: 16px;
line-height: 40px;
    padding: 10px;

}
#followers, #following{
    padding-right: 35px;
}
h4{
    line-height: 16px;
    font-weight: 600;
}
p{
    font-size: 14px;
}
img{
    width: 105px;
    height: 105px;
    border-radius: 60px;
    box-sizing: contain;
}
} 

@media(max-width: 375px){
    #profile{
    
    line-height: 40px;
    padding: 25px 20px 2px 20px;
    width: 292px;
}
#name, #bio, #followers, #following, #repos, #url{
margin-bottom: 16px;
line-height: 40px;
    padding: 10px;

}
#followers, #following{
    padding-right: 34px;
}
h4{
    line-height: 16px;
            font-size: 15px;

}
p{
    font-size: 14px;
}
img{
    width: 105px;
    height: 105px;
}
}


@media(max-width: 320px){
#div1{
             width: 207px;

}
h2{
    font-size: 35px;
            text-align: left;
                    line-height: 46px;


}
.input-btn {
    padding: 10px 9px 10px 16px;
    width: 194px;
    font-size: 14px;
    margin-bottom: 12px;
}
#findBtn{
     width: 222px;
    font-size: 14px;
}
#error {
    transform: translate(4px, -20px);
    text-align: center;
    font-size: 15px;
}
    #profile{
    
    line-height: 40px;
    padding: 25px 20px 2px 20px;
    width: 249px;
}
#name, #bio, #followers, #following, #repos, #url{
margin-bottom: 16px;
line-height: 40px;
    padding: 10px;

}
#followers, #following{
    padding-right: 20px;
}
h4{
    line-height: 15px;
            font-size: 15px;

}
p{
    font-size: 13px;
}
img{
    width: 100px;
    height: 100px;
}
}
